<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.movingServer"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.NFC" />
 	<uses-permission android:name="android.permission.VIBRATE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="MovingApplicationActivity"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name="BoxEdit"></activity>
        <activity android:name="itemList"></activity>
        <activity android:name="CreateTag"></activity>
        <activity android:name="ItemEdit"></activity>
        <activity android:name="ReadTag"></activity>
        <activity android:name="Client">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

    </application>
</manifest>